[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-language-field = "*"
django-money = "*"
psycopg2 = "*"
psycopg2-binary = "*"
djangorestframework = "*"

[requires]
python_version = "3.6"
